/* *{border: 2px solid red; padding: 10px;} */
a{color: black; text-decoration: none;}

/* ================== 폰트 적용 ================== */
body{font-family: 'Noto Sans KR', sans-serif;}

/* ===================== 헤더 CSS ===================== */
#hdWrap{position: fixed; top: 0px;
    background-color: white; width: 100%;
border-bottom: 1px solid rgba(40, 137, 235, 0.1);}
#header{
width: 1140px;
margin: 0 auto;
display: flex;
justify-content: space-between;
align-items: center;
}
#hdLogo img{width: 145px;}

#hdMenu{display: flex;}

    #bgSubmenu{background-color: rgba(0, 0, 0, 0.9);
    width: 100%; height: 180px; position: fixed; top: 110px; left: 0px;
    display: none;
}
    #bgSubmenu > div {width: 1140px; display: flex; text-align:
        center; margin: 0 auto; padding: 0px 30px 0px 0px; justify-content: right;}
    #bgSubmenu ul{width: 140px;}
    #bgSubmenu ul > li {padding-top: 15px; font-size: 13px;}
    #bgSubmenu ul > li > a{color: white;}
    #bgSubmenu ul > li > a > span{padding-top: 15px; color: #FA8072; font-size: 13px;}

#hdMenu li{
    font-size: 19px;
    margin: 0px 35px;
    padding: 30px 0px 20px 0px;
}

    .gift{
        color: #B22222; font-size: 21px; font-weight: bold;
        background-color: #faebd7;
        padding: 3px 5px 3px 5px;
        border-radius: 10px;
}
.menuLogo{height: 23px; margin-right: 5px;}

#topLink{display: flex; justify-content: end; padding: 10px 40px 0px 0px;}
#topLink ul{display: flex; margin-right: 15px;}
#topLink img{height: 24px;}
#topLink li > a{margin-right: 8px;}
#topLink > span{margin-left: 10px; color: #8C6239;}
.login a, .join a{color: #8C6239; margin-right: 10px; font-weight: 300;}
    /* =============== 호버 =============== */
    #nav:hover #bgSubmenu{display: block;}

/* ===================== 헤더 CSS ===================== */


/* ===================== 핫시즈너 CSS ===================== */
#hotInfo{
background: url(../images/bg_companycon2.jpg);
background-size: cover;
background-position-y: bottom;
height: 880px;
padding-top: 150px;
}
#comInfo > div{padding-top: 10px; line-height: 1.9;}

#comInfo > div{
    width: 1140px;
    margin: 0 auto;    
}

.comTitle{
    color: #8C6239;
    font-size: 35px;
    font-weight: 500;
    }

h3{
    color: #8C6239;
    font-size: 28px;
    font-weight: 300;
    margin: 10px 0px;
}
h4{
    color: #8C6239;
    font-size: 18px;
    font-weight: 300;
    margin: 5px 0px;
}

#comInfo > div > p {font-size: 18px; font-weight: 300;}
.biciTitle{
color: #8C6239;
    font-size: 35px;
    font-weight: 500;
    margin-top: 50px;
}

#biciInfo > div{width: 1140px; margin: 0 auto;}
#biciInfo img{margin-top: 30px;}
#biciInfo p{color: #888888; font-size: 16px; line-height: 1.6; padding: 20px 0px;}

#brandInfo{
background: url(../images/bg_cibi3.png);
background-size: cover;
background-position: bottom;
height: 880px;
padding-top: 100px;
}
.brTitle, .chTitle{
color: #8C6239;
font-size: 35px;
font-weight: 500;
padding-bottom: 30px;
}
#brandInfo > div > p {font-size: 18px; font-weight: 300; padding-bottom: 50px;}
#brandInfo > div > p > span{color: #de1d24; font-size: 18px; font-weight: bold;}
#brandInfo  img{width: 120px; margin-right: 40px;}
.chInfo{padding-bottom: 10px; line-height: 1.6}
h5{color: #212529; font-size: 22px; font-weight: 700; line-height: 1.6; padding-bottom: 10px;}
h6{color: #232323; font-size: 18px; font-weight: 700; line-height: 1.6; padding-bottom: 10px;}
.yeobi, .deogi{display: flex; align-items: center; padding-bottom: 30px;}
#brandInfo > div{width: 1140px; margin: 0 auto;}
.yeobi, .deogi p {color: #212529; font-size: 18px; font-weight: 300;}

.mapTitle{color: #8C6239;
font-size: 35px;
font-weight: 500;
padding: 50px 0px 20px 0px;}

.comHot{color: #8C6239; font-size: 22px; font-weight: 300; padding: 20px 0px;}

table{border-top: 1px solid #8C6239; 
width: 1140px; font-size: 16px; color: #212529;}
.tbUnder{border-bottom: 1px solid #8C6239;}
tr{border-bottom: 1px solid #f7f0e4;}
td{padding: 10px; font-weight: 300;}
table img{width: 17px; margin: 0px 20px 0px 10px;}
.tbTitle{font-weight: 400;}

#mapInfo{margin-top: 50px; margin-bottom: 100px;}
#mapInfo > div{width: 1140px; margin: 0 auto;}
iframe{width: 100%; padding-top: 10px;}

/* ===================== 핫 시즈너 CSS ===================== */


/* event. css */

#eventInfo{height: 880px;
    padding-top: 150px;}
#eventInfo > div{width: 1140px; margin: 0 auto;}
#eventInfo span{font-size: 24px; color: #8C6239; font-weight: 300;}
#serch{display: flex; justify-content: flex-end;}
#serchMenu{width: 142px; height: 42px;}
.serchText{width: 140px; height: 40px;}
select, input{border: 1px solid rgba(33, 37, 41, 0.3);}
.buSerch{width: 70px; height: 41px; background-color: #8C6239; color: white;}
#banner img{width: 348px;}

h5{color: #212529; font-size: 22px; font-weight: 700; line-height: 1.6; padding-bottom: 10px;}
h6{color: #232323; font-size: 18px; font-weight: 700; line-height: 1.6; padding-bottom: 10px;}

.bannerTitle{font-size: 19px; font-weight: 400; padding: 15px 0px 10px 0px;}
.bannerDate{font-size: 16px; font-weight: 300;}
.bannerDate a{color: #999999;}

#banner{border-bottom: 1px solid #f7f0e4; padding: 20px 15px 25px 15px;}
#eventBanner{display: flex; flex-wrap: wrap}

#eventPage{width: 1140px; margin: 0 auto; padding: 50px 0px 50px 0px;}
#eventPage1{display: flex; justify-content: center;}
#eventPage1 li{width: 40px;}
.hoverTest{color: #BBBBBB;}

.mainPage{color: #de1d24;}

.hoverTest:hover{color: #ffc107;}


/* gift_card.css */
/* ==== main_top ==== */
#mainTop{
    width: 1110px;
    margin: 0 auto;
  }
  #mainTop>h1{
    color: #8C6239;
    font-size: 35px;
    font-weight: bold;
    margin: 30px 0;
  }
  /* ==== main_top end ==== */
  
  /* ==== main_menu ==== */
  #mainMenu{
    display: flex;
    justify-content: space-between;
    width: 1110px;
    margin: 0 auto;
  }
  /* 선택한 페이지 메뉴 */
  .menuPick{
    z-index: 5;
    width: 20%;
    border-top: 1px solid #8c6239;
    border-right: 1px solid #8c6239;
    border-left: 1px solid #8c6239;
    padding: 20px;
    text-align: center;
    color: #8C6239;
  }
  .menuPick>h3{
    font-size: 18px;
    font-weight: 300;
  }
  /* 선택한 페이지 메뉴 end */
  .menuNone{  
    z-index: 1;
    width: 20%;
    background-color: #F7F0E4;
    border-top: 1px solid white;
    border-bottom: 1px solid #8c6239;
    border-right: 1px solid white;
    border-left: 1px solid white;
    padding: 20px;
    text-align: center;
    color: #8C6239;
  }
  .menuNone>h3{
    font-size: 18px;
    font-weight: 300;
  }
  .menuNone:hover{  /* 선택안한 메뉴에 마우스 올리면 background-color 바뀜 */
    background-color: #F9F5EE;
  }
  /* 선택 @안@ 한 페이지 메뉴 */
  
  /* ==== main_menu end ==== */
  
  /* ==== main ==== */
  #main{
    width: 1140px;
    margin: 0 auto;
    text-align: center;
    padding: 16px 0;
  }
  #main>h2{ 
    color: #8C6239;
    font-size: 35px;
    font-weight: bold;
    margin: 16px 0;
  }
  .gftBuy{
    display: flex;
    width: 950px;
    margin: 0 auto;
    justify-content: space-between;
  }
  #line{
    border-left: 1px solid #E9D7CD;
  }
  .gftBuyBox{
    box-sizing :border-box;
    display: inline-block;
    width: 465px;
    height: 490px;
    background-color: #9c8371;
    border-radius: 15px;
    color: white;
    padding-top: 45px;
    border: 1px solid #82624c;
    box-shadow: 3px 3px 8px #dbcabf;
  }
  .gftBuyBox>h3{
    font-size: 24px;
  }
  
  /* gft_boxA */
  .gftBuyBoxA>p>span{
    color: black;
    font-size: 19px;
    font-weight: bold;
  }
  .gftBuyBoxA>span{
    display: block;
  }
  .gftBuyBoxA>a{
    color: white;
    display: block;
    width: 250px;
    height: 50px;
    background-color: #808080;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 5px;
    box-sizing: border-box;
    padding: 12px;
  }
  /* gft_boxA end */
  
  /* gft_boxB */
  .gftBuyBoxB>p>span{
   color: #ffc019;
   font-size: 19px;
   font-weight: bold;
  }
  
  .gftBuyBoxB>a{
    color: white;
    display: block;
    width: 250px;
    height: 50px;
    background-color: black;
    margin: 0 auto;
    margin-top: 20px;
    box-sizing: border-box;
    padding: 12px;
  
  }
  /* gft_boxB end */
  
  /* ==== main end ==== */


  /* guide.css */
/* ==============================================메인========================================= */
#wrap{
    width: 1140px;
}
/* 공지사항 */
.title, .subTitle{
    color: #8c6239;
}
.title{
    margin-top: 30px; margin-bottom: 40px; padding: 0px 15px;
    font-weight: 600; font-size: 35.2px;
}
/* 부제목 */
.subTitle{
    padding: 0px 15px;
    font-size: 24px;
    margin: 20px 0px 16px;
    font-weight: 300;   
}
/* 검색창*/
.search{
    display: flex;
    justify-content: end;
    font-size: 14px;
    margin: 40px 0px 10px 0px;
    padding: 0px 15px;
}
.classicBox{   
    width: 140px; 
    padding: 4px 8px; margin: 0px 3px;
    border: #ced4da 1px solid;
    color: #495057; 
}
.searchBt{
    background-color: #8c6239;
    border: none; color:white;
    width: 70px; height: 40px;
    margin: 0 0 0 4px;  
}
/* 리스트 */
#mainTb{
    width: 1140px;
    text-align: center;

}
#mainTb > tbody td{
    height: 57px;
    padding: 21.5px 0;
    border-bottom: #bbbbbb 1px solid;
    color:rgba(0, 0, 0, 0.7);
}
#mainTb > thead th{
    height: 57px;
    background-color: #8c6239; color: white;
    padding: 21.5px 0;
}   
.nameTb{text-align: left;width: 711.5px;}
.tdNum{width: 101px;}
 .td:hover {background-color: #e8e8e8;cursor: pointer;}
/* 페이지 이동 */
#pageMv{margin: 30px 0px 0xp 16px;padding: 70px 0;text-align: center;}
#pageMv > a, #pageMv > span {
    text-decoration: none;
    font-size: 16px; color: #bbbbbb;
    padding: 6.4px 16px;
    font-weight: 400;
    line-height: 1.5;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;   
}
#pM{ margin-top: 16px;}
#pM > #pageMv > a:hover{color: rgb(245, 215, 126);cursor: pointer;}
/* ==============================================푸터========================================= */
#footer{
    background-color: #212529;
    padding: 24px;
    color: #666;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 400;
}
#ftText1{display: flex;justify-content: center;}
#ftText1 > li {padding: 0 15px;color: #666; font-weight: 400;}
#ftText1 > li > span{ font-weight: bold; color: white;}
#ftBox{margin: 0 auto;  display: flex;}
#ftBox > #imgBox > img {width: 120px; opacity: 40%;}
#ftText2{
    padding: 0 15px; 
    font-weight: 400; max-width: 83.333333%;
    margin: 0 auto; line-height: 1.5;
    min-width: 992px;
}
#imgBox{position: relative; 
        padding-right: 15px;
        padding-left: 15px;
        max-width: 16.666666%;
}
.ftTt1{margin: 16px 0 0;}
#ftText3{text-align: center;margin: 32px 0 0 0;}
/* ==============================================사이드========================================= */
#popup{
    position: fixed; 
    right: 1%; top: 30%;
    border: 1px solid #852123 ;
    color: #852123;
    display: block; text-align: center;
    width: 100px; border-radius: 2px;
    font-size: 0.9em; font-weight: 600;
    z-index: 100; line-height: 1.6;
}
#popBox{background-color: white;padding-top: 10px;}
#popBox a{background-color: white;color:#852123;;}
.popup1, .popup2, .popup3{background-size: 53px 53px;}
#topBox {background-color: #852123;padding: 1px;}
#topBox a{
    background-color: #852123;
    color : white; font-weight: bold;
    text-decoration: none;
}


/* main.css */
#menu{
    margin-left: -700px;
}

#menu_1{
    color:  #8C6239 ;
    font-size: 30px;
    font-style: bold;
    margin-bottom: 25px;
    margin-left: -270px;
    margin-top: 50px;
}

span{
    color: red;
}
ul{
    display: flex;
    
}
#mainMenu{
    background-color: #F7F0E4;
    padding: 40px;
    margin: 50px;
    display: flex;
    justify-content: space-around;
    border: 1px dotted black;
    

}
p{
    font-size: 20px;
    color: #8C6239;
    
    
}
#menu_2{
    margin-left: -101px;
    color: orange;
    font-weight: bold;
    font-size: 30px;
    
    

}
#menuline{
 
}
#line{
    margin-top: 30px;
    margin-bottom: 40px;
}
#menu_3{
    color:  #8C6239 ;
    font-size: 30px;
    font-style: bold;
    margin-bottom: 25px;
    margin-left: -370px;
    margin-top: 50px;   
}
h4{
    margin-bottom: 6px;
    text-align: left;
    padding: 50px;
    color: #8C6239;
}
table{
    width: 1175px; height: 1000px;
    margin-left: 55px;
   
    text-align: left;
}

.aclass{
    color: red;
    width: 50px;
    padding: 30px;
    
}
.cclass, .bclass{
    background-color: #F4F4F4;
    padding: 29px;
    
}
.cclass{
    padding: 0px;
    height: 100px;
}
#sidebar > li{
    position: fixed;
    right: 10px;
    bottom: 10px;
}
#sidebar > li:hover{
    display: block;
}


/* main2.css */

/* ==== mainBanner ==== */
#mainBanner{
    background-color: #313232;
    margin-bottom: 25px;
  }
  #mainBanner>img{
    display: block;
    height: 470px;
    margin: 0 auto;
  }
  /* ===== main1 ===== */
  
  /* notice */
  .mainList ul span{
    margin-right: 10px ;
  }
  .mainList h3{
    margin: 10px 0;
    font-size: 28px;
    font-weight: 500;
  }
  .mainList ul li{
    margin-bottom: 3px;
  }
  .mainList>ul>li>a:hover{  /* li에 마우스 올릴때 색상 변환 */
    color: #666666;
  }
  .main1Btn{
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  .main1Btn img{
    display: inline-block;
    width: 20px;
    margin-left: 5px;
  }
  #main1{
    display: flex;
    justify-content: space-between;
    width: 1100px;
    margin: 0 auto;
    margin-bottom: 35px;
  }
  
  /* ==== subBanner ==== */
  #subBanner{
    background-color: rgb(222, 206, 190);
    height: 390px;
  }
  #subBanner img{
    display: block;
    margin: 0 auto;
    height: 390px;
  }
  
  /* ===== main2 ===== */
  #main2{
    background-image: url(img/maain2_Title.jpg);
    background-repeat: repeat;
    padding-bottom: 96px;
  }
  #main2Title{
    color: white;
    width: 1000px;
    margin: 0 auto;
    text-align: center;
  }
  #main2Title h3{
    padding-top: 100px;
    padding-bottom: 20px;
    font-size: 40px;
    font-weight: 500;
  }
  #main2Title p{
    opacity: 0.8;
  }
  
  /* food section */
  #main2Food{
    display: flex;
    width: 1370px;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 80px;
  }
  /* foodA */
  .foodA{   /* @@B, C, D 까지 만들어서 각각 음식 배경 넣기 @@*/
    background-image: url(img/foodA.png);  
    width: 322px;
    height: 430px;
    background-size: 335px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: bottom;
    text-align: center;
    position: relative;
    box-shadow: 0 5px 15px 0 black;
  }
  /* foodB */
  .foodB{   /* @@B, C, D 까지 만들어서 각각 음식 배경 넣기 @@*/
    background-image: url(img/foodB.png);  
    width: 322px;
    height: 430px;
    background-size: 335px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: bottom;
    text-align: center;
    position: relative;  
    box-shadow: 0 5px 15px 0 black;
  }
  /* foodC */
  .foodC{   /* @@B, C, D 까지 만들어서 각각 음식 배경 넣기 @@*/
    background-image: url(img/foodC.png);  
    width: 322px;
    height: 430px;
    background-size: 335px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: bottom;
    text-align: center;
    position: relative;  
    box-shadow: 0 5px 15px 0 black;
  }
  /* foodD */
  .foodD{   /* @@B, C, D 까지 만들어서 각각 음식 배경 넣기 @@*/
    background-image: url(img/foodD.png);  
    width: 322px;
    height: 430px;
    background-size: 335px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: bottom;
    text-align: center;
    position: relative;  
    box-shadow: 0 5px 15px 0 black;
  }
  /* --------status 1--------- */
  .food{
    width: 322px;
    height: 185px;
    background-color: white;
  }
  .food>h3{
    padding-top: 40px;
    padding-bottom: 15px;
    color: #8c6239;
    font-size: 30px;
  }
  .food>p{
    font-size: 13px;
    color: #666666;
  }
  .food>.btn{
    background-color: #cccccc;
    width: 50px;
    height: 22px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 1.2px 1px;
    text-align: center;
    font-size: 14px;
    margin-top: 12px;
  }
  .food>.btn>a{  
    color: white;
  }
  /* --------status 1 [end]--------- */
  
  /* --------status 2--------- */
  .foodSub{
    position: absolute;
    background-color: rgb(222, 29, 36);
    width: 330px;
    height: 190px;
    top: -4px;
    left: -3.5px;
    display: none;
  }
  .foodSub>h3{
    padding-top: 40px;
    padding-bottom: 15px;
    color: white;
    font-size: 30px;
  }
  .foodSub>p{
    font-size: 13px;
    color: white;
  }
  .foodSub>.btnSub{
    background-color: rgb(216, 177, 102);
    width: 55px;
    height: 24px;
    margin: 3px auto;
    border-radius: 10px;
    padding: 2px 1px;
    text-align: center;
    font-size: 16px;
    margin-top: 12px;
  }
  .foodSub>.btnSub>a{  
    color: white;
  }
  .foodA:hover .foodSub{
    display: block;
  }
  .foodB:hover .foodSub{
    display: block;
  }
  .foodC:hover .foodSub{
    display: block;
  }
  .foodD:hover .foodSub{
    display: block;
  }
  /* --------status 2 [end]--------- */
  /* ===== main2 end ===== */
  
  /* ==== infomation ===== */
  #info{
    width: 1370px;
    margin: 72px auto;
  }
  #info>h2{  
    text-align: center;
    font-size: 40px;
    font-weight: 500;
  }
  #info>p{
    text-align: center;
    margin-top: 26px;
    margin-bottom: 48px;
    font-size: 15px;
    opacity: 0.8;
  }
  #infoBox{
    display: flex;
    justify-content: space-between;
  }
  /* box1개 */
  
  /* status1 */
  .infoBox1{
    width: 440px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .infoBox1>img{
    width: 410px;
    margin-top: 15px;
    margin-bottom: 30px;
  }
  .infoBox1>h3{
    font-size: 30px;
    font-weight: 300;  
    margin-bottom: 30px;
  }
  .infoBox1>p{
    text-align: center;
    line-height: 25px;
    color: #6c757d;
    font-size: 15px;
  }
  .infoBox1>.readbtn{
    width:60%;
    border: 1px solid #ddd;
    text-align: center;
    padding: 10px 0;
    color: #6c757d;
    margin: 40px 0;
  }
  /* status2 */
  .infoBoxSub{
    position: absolute;
    display: block; 
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    display: none;
  }
  .infoBoxSub>.readbtnSub{
    background-color: black;  
    position: absolute; 
    width:60%;
    border: 1px solid #ddd;
    text-align: center;
    padding: 10px 0;
    color: white;
    bottom: 40px;
    left: 20%;  
  }
  .infoBoxSub>.shadowBox{
    position: absolute;
    background-color: black;
    opacity: 0.5;
    top: 14.4px;
    width: 410px;
    height: 217.487px;
    left: 15px;
  }
  .infoBox1:hover .infoBoxSub{
    display: block;
  }
  /* box1개 end*/
  /* ==== infomation end ===== */
  
  /* ==== main_Bottom ==== */
  
  #mainBottom{
     background-color: #313232;
  }
  #mainBottom>div{
    width: 70%;
    margin: 0 auto;
    display: flex;
  }
  #mainBottom>div>img{
    width: 100%;
    min-width: 0px;
  }
  /* ==== main_Bottom end ==== */

  /* voice.css */

  /* =============================================메인========================================= */
#wrap{width: 1140px;}
/* 제목 */
.title, .subTitle{color: #8c6239;}
.title{
    margin-top: 30px; margin-bottom: 40px; padding: 0px 15px;
    font-weight: 600; font-size: 35.2px;
}
/* 부제목 */
.subTitle{
    padding: 0px 15px;
    font-size: 24px;
    margin: 20px 0px 16px;
    font-weight: 300;   
}
/* 본문 1 */
#voice{
    width: 1140px; height: 230px;
    background-image: url(img/bg_customervoice.png);
    font-weight: 300; padding: 30px 60px;
    display: flex; flex-wrap: wrap; 
    width: 100%; line-height: 1.5; margin-top: 50px;
    margin-right: -15px; margin-left: -15px; padding: 30px 60px;   
}
.subSub{color: #f6ca41; font-size: 25.6px; font-weight: 300;}
#voiceTxt{
    color: white; width: 595px;
    margin: 16px 0 0; padding: 0 15px;
}
#voiceTxt > .subSub{margin-bottom: 16px;}
#voiceTxt{font-size: 16px;}
#vText{margin-bottom: 16px; font-weight: 400;}
#callCent{
    border: 1px solid #888; border-radius: 25px;
    padding: 10px; margin: 4px 0 0;
    background-color: rgba(0,0,0,0.2);
    max-width: 41.666667%; font-weight: 300;
    font-size: 14.4px;
}
#callCent > p{text-align: center;}
#callCent > div p{color: white; opacity: 90%;}
.date{padding: 0 15px;}
#callCent > div{
    display: flex; flex-wrap:nowrap;
    margin: 0 15px; padding-right: 0px;
}
/* 본문 2 */
#QnA{
    color:#999; font-weight: 300;
    display: flex; justify-content: space-between;
    margin: 98px -15px 98px ;
}
#QnA div{line-height: 1.5;}
#QnA span{color: #de1d24;font-size: 24px; font-weight: bolder}
#QnA input{border: none;
    font-size: 1.2rem;
    height: 55px; width: 250px;
    padding: 12px; margin: 30px auto 0px;
    text-align: center;
    font-weight: 300; color: #fff;
    cursor: pointer; 
}
#faqBt > a > input{background-color: #8c6239}
#guideBt > a > input{background-color: #808080;}
.mainTxt img{width: 160px; margin: 0px 0px 30px;}
.qnaT1{color: #8c6239; margin: 0 0 16px;}
.mainTxt{padding: 0 15px; text-align: center; width: 570px;}
.mainTxt > div{margin: 0 0 16px;}
#faqBt{color: #8c6239}