/* body{
    background-color: #bbf1ef;
}

h1{
    font-size: 18px;
    border: solid 3px white;
    border-radius: 20px;
    text-align: center;
    padding: 6px 0;
    margin: 20px 0;
    font-weight: bold;
    width: 300px;
}

p{
    text-align: center;
    font-size: 18px;
    font-weight: bold;

}
img{
    border-radius: 50%;
}

a{
    background-color: #ff9a9e;
    display: block;
    padding: 20px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    border-radius: 20px;
}

ul{
    width: 700px;
    margin: 0 auto ;
    text-align: center;
}

li{
    margin-bottom: 20px;
} */