/* body{
    padding: 10px 200px;
}
div{
    border: solid 1px gray;
    margin: 10px 210px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.img{
    width: 250px;
    margin: 0 100px;
   }

.id{
    width: 250px;
    height: 30px;
    margin: 0 100px;
}
.pw{
    width: 250px;
    height: 30px;
    margin: 0 100px;
    }

.login{
    width: 250px;
    margin: 0 100px;
    background-color: rgb(0, 149, 246);
    color: white;
    border-radius: 5px;
}

.facebook{
margin: 0 120px;
text-decoration: none;
}

.forget{
    color: navy;
    font-size: 12px;
    margin: 0 150px;
    text-decoration: none;
}
.join{
    color: rgb(0, 149, 246)
}

.text1{
    margin-left: 100px;
} */

body{
    margin: 100px 750px;
}

p{
    text-align: center;
    padding-bottom: 10px;
}

.id{
    display: inline-block;
    margin: 0 auto;
    width: 250px;
    height: 30px;
}

.pw{
    display: inline-block;
    margin: 0 auto;
    width: 250px;
    height: 30px;
}

div{
    border: solid 1px gray;
    margin-bottom: 10px;
    padding: 40px;
}

.login{
    background-color: #acd5e8;
    display: inline-block;
    margin: 0 auto;
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border-style: none;
    border: solid 1px white;
}
.facebook{
    display: inline-block;
    margin: 10px auto;
    text-decoration: none;
    font-weight: bold;
    color: navy;
}
.forget{
    display: inline-block;
    margin: 10px auto;
    width: 250px;
    height: 30px;
    text-decoration: none;
}
.join{
    display: inline-block;
    margin: 5px auto;
    text-decoration: none;
    color: skyblue;
}
.coment{
    display: inline;
    margin-right: 5px;
}